{% extends "base.html" %}

{% block content %}
<div class="mt-5 pt-5 mx-5 px-5">
    <h1 class="mt-5 pt-5">Reset Your Password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label(class_='form-label') }}<br>
            {{ form.password(size=32, class_='form-control w-50') }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label(class_='form-label') }}<br>
            {{ form.password2(size=32, class_='form-control w-50') }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_='btn btn-danger text-light') }}</p>
    </form>

</div>
{% endblock %}