{% extends "base.html" %}

{% block content %}
<div class="mt-5 pt-5 ms-5 me-5 px-5">
    <h1 class="mt-5 pt-5">Reset Password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label(class_='form-label') }}<br>
            {{ form.email(size=64, class_='form-control w-50') }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_='btn btn-danger text-light ') }}</p>
    </form>
</div>
{% endblock %}