{% extends "base.html"%}
{% block content %}

    <section id="bucketList mt-5">
        <div class="container mt-5 pt-5">
            <div class="row pt-5">
                <div class="column text-center">
                    
                    {% if user.id == current_user.id %}
                        <h1>Your Bucket List</h1>
                    {% else %}
                        <h1> {{user.firstName}}'s Bucket List</h1>
                    {% endif %}

                    <h6>Find something new to do this weekend!</h6>

                    <div class="searchForm my-4">
                        <form action="">
                            <input type="text" class="form-control" placeholder="Search for a person, place or type of place...">
                        </form>
                    </div>
                </div>
            </div>

                <div class="album py-5">
                    <div class="container">                
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
                        {% for post in posts %}
                            <div class="col">
                                <div class="card mb-5 bg-light p-4 rounded rounded-2">
                                    <div class="card-body p-0 mb-3">
                                        <div class="d-flex justify-content-end">
                                            <form action="{{url_for('main.remove_bucket', id=post.id)}}" method="post">
                                                {{form.hidden_tag()}}
                                                {{form.submit(class_='bg-light border-0', value='X')}}
                                            </form>
                                        </div>
                                        <div class="d-flex my-3 align-items-center">
                                            <a href="{{url_for('main.profile', username=post.author.username)}}" class="text-decoration-none">
                                            {% if post.author.profile_pic %}
                                            <img src="https://flask-vietsight.s3.amazonaws.com/{{post.author.unique_profile_pic}}" class="ms-2 me-2 card-added-images">
                                            {% elif post.author.avatar %}
                                            <img src="{{ post.author.avatar(128) }}" alt="" class="ms-2 me-2 card-added-images">
                                            {% else %}
                                            <img src="/static/images/halong3.jpg" alt="" class="me-2 card-added-images">
                                            {% endif %}
                                            </a>
                                            <a href="{{url_for('main.profile', username=post.author.username)}}" class="text-decoration-none">
                                                <div class="d-flex flex-column ps-2">
                                                    <a href="{{url_for('main.profile', username=post.author.username)}}" class="text-decoration-none">
                                                        <h6 class="card-title text-black">{{post.author.firstName}} {{post.author.lastName}}</h6>
                                                    </a>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{moment(post.timestamp).format('LLL')}}</h6>
                                                </div>
                                            
                                        </div>
                                    </div>
                                    <a href="{{url_for('main.post', id=post.id)}}">
                                        <div class="{{post.id + 1}}" style="height: 300px; width: 100%; background: url('https://flask-vietsight.s3.amazonaws.com/{{post.unique_image}}') no-repeat center center/cover">
                                        </div>
                                        <p class="btn btn-danger rounded rounded-0 rounded-bottom w-100">See Post</p>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}                        
                    </div>
                </div>

        </div>
    </section>
{% endblock %}