{% extends "base.html" %}
{% block content %}

        <!-- Home Section wrapping sidebar and posts. -->
        <div class="d-flex mt-5 pt-5">

            <!-- Sidebar-->
            <section id="homeAside" class="shadow-sm position-fixed mt-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl">
                            <div class="d-flex flex-column">
                                <div class="searchForm mb-4">
                                    <form action="">
                                        <input type="text" class="form-control" placeholder="Search for a person or place...">
                                    </form>
                                </div>
                                <div class="friendsList px-2">
                                    <h6 class="text-muted">People in your network...</h6><hr>
                                    <ul class="px-0">
                                        {% for user in followed_users %}
                                        <li><a href="{{url_for('profile', username=user.username)}}">
                                            {% if user.profile_pic %}
                                            <img src="/static/images/profile/user.profile_pic" alt="">
                                            {% elif user.avatar %}
                                                <img src="{{user.avatar(64)}}" alt="">
                                            {% else %}
                                            <img src="/static/images/mountain.jpg" alt="">
                                            {% endif %}
                                            {{user.firstName}} {{user.lastName}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content Cards -->
            <section id="homeCards" class="mx-auto  ms-auto mt-3">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 mx-auto">
                            <!-- Card 1 -->
                            {% for post in posts %}
                            <div class="card mb-5 bg-light p-4 rounded rounded-2">
                                <div class="card-body p-0 mb-3">
                                    <a href="{{url_for('profile', username = post.author.username)}}" class="text-decoration-none">
                                        <div class="d-flex my-3">
                                            {% if post.author.profile_pic %}
                                            <img src="/static/images/profile/{{post.author.profile_pic}}" alt="" class="card-added-images rounded rounded-5 me-2">
                                            {% elif post.author.avatar %}
                                            <img src="{{ post.author.avatar(64) }}" alt="" class="rounded rounded-5 ms-2">
                                            {% else %}
                                            <img src="/static/images/mountain.jpg" alt="" class="card-added-images rounded rounded-5 me-2">
                                            {% endif %}
                                            <div class="d-flex flex-column">
                                                <h5 class="card-title text-black">{{post.author.firstName}} {{post.author.lastName}}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted"><a href="{{url_for('bucket', username=post.author.username)}}">View {{post.author.firstName}}'s Bucket List</a></h6>
                                                <h6 class="card-subtitle mb-2 text-muted">{{post.timestamp}}</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <p class="card-text">{{post.body}} <a href="#" class="text-danger d-block">See more</a></p>
                                </div>
                                <img src="/static/images/posts/{{post.image}}" alt="" class="card-img-top">
                                {% if current_user.in_bucket(post) %}
                                <form action="{{url_for('remove_bucket', id=post.id)}}", method="post">
                                    {{BucketForm.hidden_tag()}}
                                    {{BucketForm.submit(class_='btn btn-danger text-light mt-4', Value="Remove from Bucket List")}}
                                </form>
                                {% else %}
                                <form action="{{url_for('add_bucket', id=post.id) }}", method="post">
                                    {{BucketForm.hidden_tag()}}
                                    {{BucketForm.submit(class_='btn btn-danger text-light mt-4', Value="Add to Bucket List")}}
                                </form>
                                {% endif %}
                                {% if post.comments == '1' %}
                                <div class="card-body bg-light">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item bg-light mb-3">
                                            <form action="">
                                                <input type="text" class="form-control" placeholder="Write a comment...">
                                            </form>
                                        </li>
                                        <li class="list-group-item bg-light">
                                            <div class="d-flex">
                                                <img src="hillsvn.jpg" alt="" class="card-added-images rounded rounded-5">
                                                <div class="d-flex flex-column ms-3">
                                                    <h6 class="text-muted">Jamie Furlong</h4>
                                                    <p>
                                                        I came here many years ago with my mother. I have many fond memories. Thank you for... <a href="#" class="text-danger">See more</a>
                                                    </p> 
                                                </div>                                                
                                            </div>
                                        </li>
                                        <li class="text-center text-danger list-group-item bg-light">View all Comments...</li>
                                    </ul>
                                </div>
                                {% else %}
                                <div class="card-body bg-light">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item bg-light mb-3">
                                            <p class="text-danger">Comments have been disabled on this post.</p>
                                        </li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}  
                            <div class="d-flex justify-content-center align-items-center p-1 mb-5">
                                {% if prev_url %}
                                <a href="{{ prev_url }}" class="text-decoration-none pe-5 text-danger">Newer posts</a>
                                {% endif %}
                                {% if next_url %}
                                <a href="{{ next_url }}" class="text-decoration-none text-danger">Older posts</a>
                                {% endif %}                     
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}