{% extends "base.html" %}
{% block content %}

        <!-- Home Section wrapping sidebar and posts. -->
        <div class="d-flex mt-5 pt-5">

            <!-- Sidebar-->
            <section id="homeAside" class="shadow-sm position-fixed mt-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl">
                            <div class="d-flex flex-column">
                                <div class="searchForm mb-4">
                                    <form action="">
                                        <input type="text" class="form-control" placeholder="Search for a person or place...">
                                    </form>
                                </div>
                                <div class="friendsList px-2">
                                    <h6 class="text-muted">People in your network...</h6><hr>
                                    <ul class="px-0">
                                        {% for user in followed_users %}
                                        <li><a href="{{url_for('profile', username=user.username)}}">
                                            {% if user.profile_pic %}
                                            <img src="/static/images/profile/user.unique_profile_pic" alt="">
                                            {% elif user.avatar %}
                                                <img src="{{user.avatar(64)}}" alt="">
                                            {% else %}
                                            <img src="/static/images/mountain.jpg" alt="">
                                            {% endif %}
                                            {{user.firstName}} {{user.lastName}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content Cards -->
            <section id="homeCards" class="mx-auto  ms-auto mt-3">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 mx-auto">
                            <!-- Card 1 -->
                            {% for post in posts %}
                            
                            <div class="card mb-5 bg-light p-4 rounded rounded-2">
                                <div class="card-body p-0 mb-3">
                                    <a href="{{url_for('profile', username = post.author.username)}}" class="text-decoration-none">
                                        <div class="d-flex my-3">
                                            {% if post.author.profile_pic %}
                                            <img src="/static/images/profile/{{post.author.unique_profile_pic}}" alt="" class="card-added-images rounded rounded-5 me-3">
                                            {% elif post.author.avatar %}
                                            <img src="{{ post.author.avatar(64) }}" alt="" class="rounded rounded-5 ms-2 card-added-images me-3">
                                            {% else %}
                                            <img src="/static/images/mountain.jpg" alt="" class="card-added-images rounded rounded-5 me-2">
                                            {% endif %}
                                            <div class="d-flex flex-column">
                                                <h5 class="card-title text-black">{{post.author.firstName}} {{post.author.lastName}}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted"><a href="{{url_for('bucket', username=post.author.username)}}" class="text-muted">View {{post.author.firstName}}'s Bucket List</a></h6>
                                            </div>
                                        </div>
                                    </a>
                                    <h6 class="card-subtitle mb-2 text-muted ps-2">{{post.timestamp}}</h6>
                                    <p class="card-text ps-2">{{post.body}} <a href="{{url_for('post', id=post.id)}}" class="text-danger d-block">See more</a></p>
                                </div>
                                <a href="{{url_for('post', id=post.id)}}"><img src="/static/images/posts/{{post.unique_image}}" alt="" class="card-img-top"></a>
                                <div class="d-flex mt-3 align-items-center">
                                    <div class="pe-2 ms-2 mb-2">
                                        {% if current_user.in_bucket(post) %}
                                        <form action="{{url_for('remove_bucket', id=post.id)}}" method="post">
                                            {{BucketForm.hidden_tag()}}
                                            {{BucketForm.submit(class_='btn btn-danger text-light', value='Remove from Bucket')}}
                                        </form>
                                        
                                       
                                        {% else %}
                                        <form action="{{url_for('add_bucket', id=post.id)}}" method="post">
                                            {{BucketForm.hidden_tag()}}
                                            {{BucketForm.submit(class_='btn btn-danger text-light', value='Add to Bucket')}}
                                        </form>
                                        
                                            
                                        
                                        {% endif %}
                                    </div>

                                    {% if post.bucketer_list|length == 0 %}
                                    <h6>Nobody has added this to their bucket list. Be the first?</h6>
                                    {% elif post.bucketer_list|length == 1 %}
                                    <h6>{{post.bucketer_list|length}} person has added this to their bucket list.</h6>
                                    {% else %}
                                    <h6>{{post.bucketer_list|length}} people have added this post to their bucket list. </h6>
                                    {% endif %}

                                </div>
                                {% if post.comments_allowed == '1' %}
                                <div class="card-body bg-light">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item bg-light mb-3">
                                            <form action="/add_comment/{{post.id}}" method="post" novalidate>
                                               {{commentForm.hidden_tag()}}
                                               {{commentForm.body(class_='form-control', placeholder='Add a comment...')}}
                                               {{commentForm.submit(class_='btn btn-danger mt-2 w-100')}}
                                            </form>
                                        </li>
                                        {% for comment in post.comments %}
                                        <li class="list-group-item bg-light ms-5 mb-4 shadow-sm">
                                            <div class="d-flex">
                                                <img src="/static/images/profile/{{comment.author.unique_profile_pic}}" alt="" class="card-added-images rounded rounded-5">
                                                <div class="d-flex flex-column ms-3">
                                                    <h6 class="text-black mb-2">{{comment.author.firstName}} {{comment.author.lastName}}</h6>
                                                    
                                                    <p class="lead">
                                                        {{comment.body}} 
                                                    </p>
                                                    <a href="#" class="text-danger">See more</a>                                                        
                                                    <p class="text-muted mt-1">{{comment.timestamp}}</p>
                                                    {% if comment.author == current_user %}
                                                    <div class="d-flex">
                                                        <button class="btn bg-none text-danger p-0 pe-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{comment.id}}" aria-expanded="false" aria-controls="collapseExample{{comment.id}}">
                                                          Edit
                                                        </button>
                                                        
                                                        <button class="btn bg-none text-danger p-0" type="button">
                                                            <a href="{{url_for('delete_comment', id=comment.id)}}" class="text-danger text-decoration-none">Delete</a>
                                                        </button>
                                                    </div>
                                                    <div class="collapse" id="collapseExample{{comment.id}}">
                                                      <div class="card card-body bg-light">
                                                        <form action="{{url_for('edit_comment', id=comment.id)}}" method="post">
                                                          {{commentForm.hidden_tag()}}
                                                          {{commentForm.body(class_='form-control', id=comment.id+3)}}
                                                          <script>document.getElementById('{{comment.id + 3}}').value="{{comment.body}}";</script>                                                            
                                                          {{commentForm.submit(class_='mt-2 btn btn-danger text-light w-100')}}
                                                        </form>
                                                      </div>
                                                    </div>
                                                    {% else %}
                                                    <a href="{{url_for('follow', username=comment.author.username)}}" class="text-danger text-decoration-none">Follow</a>                                                    
                                                    {% endif %}                                                    
                                                </div>                                                
                                            </div>
                                        </li>
                                        {% endfor %}
                                        <li class="text-center text-danger list-group-item bg-light mt-5 lead">View more Comments...</li>
                                    </ul>
                                </div>
                                {% else %}
                                <div class="card-body bg-light">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item bg-light mb-3">
                                            <p class="text-danger">Comments have been disabled on this post.</p>
                                        </li>
                                    </ul>
                                </div>
                                {% endif %}
                   
                            </div>
                            {% endfor %}  
                            <div class="d-flex justify-content-center align-items-center p-1 mb-5">
                                {% if prev_url %}
                                <a href="{{ prev_url }}" class="text-decoration-none pe-5 text-danger">Newer posts</a>
                                {% endif %}
                                {% if next_url %}
                                <a href="{{ next_url }}" class="text-decoration-none text-danger">Older posts</a>
                                {% endif %}                     
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}