{% extends "base.html" %}
{% block content %}
<style>
    #profilePicDisplay {
        background: url('/static/images/profile/{{current_user.profile_pic}}') no-repeat center center/cover;
        height: 200px;
        width: 200px;
    }

    #coverPicDisplay {
        background: url('/static/images/cover/{{current_user.cover_pic}}') no-repeat center center/cover;
        height: 500px;
        width: 100%;
    }

    #coverDefaultDisplay {
	background: url('/static/images/mountain.jpg') no-repeat center center/cover;
	height: 500px;
	width: 100%;
}
</style>
        <section id="profileHead" class="mt-5 pb-5">
            <div class="container-lg">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        {% if user.cover_pic %}
                        <div id="coverPicDisplay"></div>
                        {% else %}
                        <div id="coverDefaultDisplay"></div>
                        {% endif %}
                    </div>
                </div>
                <div class="row negativeRow shadow-sm pb-3">
                    <div class="col-lg-6 d-flex align-items-end justify-content-center ps-5">
                        {% if current_user.profile_pic %}
                        <div id="profilePicDisplay" class="rounded rounded-5 ms-2 me-4"></div>
                        {% else %}
                        <img src="{{ current_user.avatar(128) }}" alt="" class="rounded rounded-5 ms-2">
                        {% endif %}
                        <div class="pb-3">
                            <h3>{{ user.firstName }} {{ user.lastName }}</h4>
                                {% if user.caption %}<h6 class="text-muted">{{ user.caption }}</h6>{% endif %}
                                {% if user.lastSeen %}<p>Last seen on: {{ user.lastSeen }}</p>{% endif %}
                                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
                                {% if user == current_user %}<p><a href="{{url_for('settings')}}">Edit your profile</a></p>
                                {% elif not current_user.is_following(user) %}
                                <p>
                                    <form action="{{url_for('follow', username=user.username) }}" method="post">
                                        {{form.hidden_tag()}}
                                        {{form.submit(value='Follow', class_='btn btn-danger text-light')}}
                                    </form>
                                </p>
                                {% else %}
                                <p>
                                    <form action="{{url_for('unfollow', username=user.username) }}" method="post">
                                        {{form.hidden_tag()}}
                                        {{form.submit(value='Unfollow', class_='btn btn-danger text-light')}}
                                    </form>
                                </p>
                                {%endif%}
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-end justify-content-end pb-3">
                        <button class="btn btn-danger me-3">
                            <a href="{{url_for('home')}}" class="text-light text-decoration-none">Bucket</a>
                        </button>
                        <button class="btn btn-danger ms-3">
                            <a href="{{url_for('settings')}}" class="text-light text-decoration-none">Settings</a>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Your Posts</h1>
                <p class="lead text-muted">Browse through your posts and remind yourself of the places you have been.</p>
                <p>
                  <a href="#" class="btn btn-danger my-2">Bucket</a>
                  <a href="#" class="btn btn-secondary my-2">Message</a>
                </p>
              </div>
            </div>
          </section>
        
        <div class="album py-5 bg-light">
            <div class="container">
        
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
                    {% for post in posts %}
                    <div class="col">
                        <a href="{{url_for('post', id=post.id)}}">
                            <div class="card shadow-sm">
                                <img src="/static/images/posts/{{post.image}}" alt="" class="card-image-top cardFeature">
                    
                                <div class="card-body">
                                    <p class="card-text">
                                        {{post.body}}
                                    </p>
                                    <p class="card-text">
                                        {{post.timestamp}}
                                    </p>
                                </div>                        
                            </div>
                        </a>
                    </div>
                    {% endfor %}     
                </div>
                <div class="d-flex justify-content-center align-items-center p-1 my-5">
                    {% if prev_url %}
                    <a href="{{ prev_url }}" class="text-decoration-none pe-5 text-danger">Newer posts</a>
                    {% endif %}
                    {% if next_url %}
                    <a href="{{ next_url }}" class="text-decoration-none text-danger">Older posts</a>
                    {% endif %}                     
                </div>  
            </div>
        </div>
{% endblock %}
        