{% extends "base.html" %}
{% block content %}
<style>
    #profilePicDisplay {
        background: url('/static/images/profile/{{current_user.unique_profile_pic}}') no-repeat center center/cover;
        height: 200px;
        width: 200px;
    }

    #coverPicDisplay {
        background: url('/static/images/cover/{{current_user.unique_cover_pic}}') no-repeat center center/cover;
        height: 500px;
        width: 100%;
    }

    #coverDefaultDisplay {
	background: url('/static/images/mountain.jpg') no-repeat center center/cover;
	height: 500px;
	width: 100%;
}
</style>
        <section id="profileHead" class="mt-5 pb-5">
            <div class="container-lg">
                <div class="row">
                    
                </div>
                <div class="row shadow-sm pb-3 pt-5">
                    <div class="col-lg-6 d-flex align-items-end justify-content-center ps-5">
                        {% if current_user.unique_profile_pic %}
                            <div class="me-3" style="background: url('/static/images/profile/{{current_user.unique_profile_pic}}') no-repeat center center/cover; height: 200px; width:200px; border-radius: 50%; border: 5px solid white;"></div>
                        {% elif current_user.avatar %}
                            <div class="me-3" style="background: url('{{current_user.avatar}}') no-repeat center center/cover; height: 200px; width:200px; border-radius: 50%; border: 5px solid white;"></div>                        
                        {% else %}
                        <div class="me-3" style="background: url('/static/images/mountain.jpg') no-repeat center center/cover; height: 200px; width:200px; border-radius: 50%; border: 5px solid white;"></div>     
                            <img src="/static/images/mountain.jpg" alt="" class="card-added-images rounded rounded-5 me-2">
                        {% endif %}
                        
                        <div class="pb-3 mt-3">
                            <h3>{{ user.firstName }} {{ user.lastName }}</h4>
                                {% if user.caption %}<h6 class="text-muted">{{ user.caption }}</h6>{% endif %}
                                {% if user.lastSeen %}<p>Last seen <span class="text-danger text-decoration-underline">{{ moment(user.lastSeen).fromNow() }}</span></p>{% endif %}
                                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-end justify-content-end pb-3">
                        <button class="btn btn-danger me-1">
                            <a href="{{url_for('bucket', username=user.username)}}" class="text-light text-decoration-none">Bucket</a>
                        </button>
                        {% if current_user == user %}
                        <button class="btn btn-danger me-1">
                            <a href="{{url_for('settings')}}" class="text-light text-decoration-none">Edit Profile</a>
                        </button>
                        {% elif not current_user.is_following(user) %}
                            <p>
                                <form action="{{url_for('follow', username=user.username) }}" method="post">
                                    {{form.hidden_tag()}}
                                    {{form.submit(value='Follow', class_='btn btn-danger text-light')}}
                                </form>
                            </p>
                        {% else %}
                            <p>
                                <form action="{{url_for('unfollow', username=user.username) }}" method="post">
                                    {{form.hidden_tag()}}
                                    {{form.submit(value='Unfollow', class_='btn btn-danger text-light')}}
                                </form>
                            </p>
                        {%endif%}
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Your Posts</h1>
                <p class="lead text-muted">Browse through your posts and remind yourself of the places you have been.</p>
                <p>
                  <a href="{{url_for('bucket', username=user.username)}}" class="btn btn-danger btn-lg my-2">View {{user.firstName}}'s Bucket List</a>
                </p>
              </div>
            </div>
          </section>
        
        <div class="album py-5 bg-light">
            <div class="container">
        
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
                    {% for post in posts %}
                    <div class="col">
                        <a href="{{url_for('post', id=post.id)}}">
                            <div class="card shadow-sm">
                                <div class="{{post.id + 1}}" style="height: 300px; width: 100%; background: url('/static/images/posts/{{post.unique_image}}') no-repeat center center/cover">
                                </div>                     
                            </div>
                        </a>
                    </div>
                    {% endfor %}     
                </div>
                <div class="d-flex justify-content-center align-items-center p-1 my-5">
                    {% if prev_url %}
                    <a href="{{ prev_url }}" class="text-decoration-none pe-5 text-danger">Newer posts</a>
                    {% endif %}
                    {% if next_url %}
                    <a href="{{ next_url }}" class="text-decoration-none text-danger">Older posts</a>
                    {% endif %}                     
                </div>  
            </div>
        </div>
{% endblock %}
        